<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Demo React JS PaulDuong</title>
    <script crossorigin src="lib/react.development.js"></script>
    <script crossorigin src="lib/react-dom.development.js"></script>
    <script crossorigin src="lib/browser.min.js"></script>
    <script crossorigin src="lib/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="layout.css">
    <style media="screen">
      .mauvang{
        background-color: yellow
      }
    </style>


  </head>
  <body>
      <div class="" id="root">
      </div>
      <div class="" id="root2">
      </div>
      <script src ="xuly.js" type="text/babel">
      </script>
  </body>
</html>
